@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bowlby One SC";
}

.container {
  max-width: 1050px;
  width: 90%;
  float: right;
  margin: auto;
}

.navbar {
  width: 100%;
  float: right;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
  display: flex;
  float:right;
  justify-content: space-between;
  align-items:center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
  float: left;
}

.navbar .nav-container li {
  list-style: none;
  float: left;
  
 
}

.navbar .nav-container a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 30px;
  padding: 0.7rem;
  box-shadow: inset 0 0 0 0 #b41a22;
  margin: 20px;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.navbar .nav-container a:hover{
  box-shadow: inset 200px 0 0 0 #b41a22;
  color: white;
}

.nav-container {
  display: block;
  position: fixed;
  float: right;
  left: auto;
  right: 25px;
  height: 60px;
}

.nav-container .checkbox {
  position:fixed;
  float: right;
  display: flex;
  height: 32px;
  width: 32px;
  top: 25px;
  left: auto;
  right: 40px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display:flex;
  height: 32px;
  width: 42px;
  float: right;
  position: fixed;
  top: 38px;
  left: auto;
  right: 40px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: fixed;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: white;
  float: right;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
  float: right;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
  float: right;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
  float: right;
}

.navbar .menu-items {
  padding-top: 25px;
  height: 100vh;
  width: 130%;
  transform: translate(-150%);
  display: flex;
  flex-direction: row;
  margin-left: -40px;
  margin-right: 40px;
  padding-left: -100px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in, visibility 0s ease-in 300ms;
  transition: opacity 300ms ease-in, visibility 0s ease-in 300ms;
  text-align: left;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 2.5rem;
  font-weight: 500;
  
}


.logo {
  position: fixed;
  float: left;
  top: 25px;
  right: 24px;
  left: 40px;
  font-size: 1.2rem;
  color: white;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 300ms;
  transition-delay: 300ms;
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: block;
}
body{
    background-image: url('image1.jpg');
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}